extends layout.pug

block content
  .createPostForm
    form(action=`/posts/edit/${post.id}` method='post')
      input(type='hidden' name='_csrf' value=csrfToken)
      div.postFieldInput
        label Title
        input(name='title' value=post.title)
      div.postFieldInput
        label Body
        textarea#editTextArea(name='textField')= post.textField

      .topicPostInput
        each topic in topics
          div
            //-may have to add value attribute for input
            input(type="checkbox" id=topic.id name=topic.name value=topic.id)
            label#topicNameInput(for=topic.name) #{topic.name}
      .updateEditBtn
        button#updateBtnId(type="submit") Update
