extends layout.pug

block content
    form(method="post" action="/posts/create")
        input(type="hidden" name="_csrf" value=csrfToken)
        div
            label Title
            input(type="text" name="title" required)
        div
            label
            textarea(name="textField" required)
        div
            each topic in topics
                div
                    input(type="checkbox" id=topic.id name=topic.name)
                    label(for=topic.name) #{topic.name}
        div
            button(type="submit") Submit
